.chip {
    color: white !important;
    width: 100% !important;
    border-radius: 3px !important;
    text-align: left !important;
    margin-top: 5px !important;
}

.success { background-color: #4caf50 !important; }
.warning { background-color: #ff9800 !important; }
.danger { background-color: #e51c23 !important; }

.info {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.fond_info {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
}

.avatar {
    /* Remove materialize style */
    display: block !important;
    position: relative !important;
    min-width: auto !important;
    min-height: auto !important;
    left: 50% !important;
    bottom: auto !important;
    /* Personal style */
    height: 50%;
    padding-top: 30px;
}

.info h2, .info h4 {
    text-align: center;
    font-weight: bolder;
    color: #fafafa;
}

.info h2 {
    font-family: 'Pacifico', cursive;
}

.progress {
    background-color: #E9E7E7 !important;
    height: 20px !important;
}

.percentage {
    color: white;
    margin-left: 45%;
    font-size: 15px;
    font-weight: bolder;
}

.title_section {

}

.title_border {
    background: none repeat scroll 0 0 #999999;
    display: block;
    height: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
}

footer {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.icon_contact {
    font-size: 3rem !important;
}

.g-recaptcha{
    width: 100% !important;
    text-align: -webkit-center !important;
    text-align: -moz-center !important;
}

.social_btn {
    height: 50px;
    cursor: pointer;
}

.fixNavigation{
     z-index: 9999;
     position: fixed;
     top: 0;
 }

 .collapsible-header {
    line-height: 4rem !important;
 }

 .collapsible-header img {
     width: 5rem;
     font-size: 1.6rem;
     line-height: 3rem;
     display: block;
     float: left;
     text-align: center;
 }

 .title_experience {
     text-align: center;
 }

 .title_experience_libelle{
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
 }

#gmap {
    height:340px;
}

.skills {
    opacity: 0;
}

.separator {
    border-color: rgba(128, 128, 128, 0.25);
}

.bulle {
    color: white;
    text-align: center;

    height: 150px;
    width: 150px;
}

.expe {
    margin-top: 30px;
    margin-bottom: 30px;
}

.expe_desc {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.expe_title {
    font-size: 2.28rem;
}

.expe_subtitle {
    font-size: 1.64rem;
}
