/***************
* Variables
****************/
$navcolor : #3A3A3A;
$breakpoint-small: 601px;

/***************
* Global
****************/
.parallax-container {
    @media (max-width: $breakpoint-small) {
        height: 400px !important;
    }
}

#btn_home {
    display: none;
}

.title-section, .subtitle-section  {
    font-weight: 300 !important;
}

.title_border {
    background: none repeat scroll 0 0 #D0D0D0;
    display: block;
    height: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    width: 100px;
}

.table-of-contents {
    li {
        padding: 0 !important;
    }

    a {
        line-height: inherit !important;
        padding-left: 20px !important;
    }
}

.table-of-contents a.active {
    font-weight: 300 !important;
    color : #26a69a !important;
    border-left: 0px solid #fff !important;
    padding-left: 20px !important;
}

.table-of-contents a:hover {
    padding-left: 20px !important;
    border-left: 0px solid #fff !important;
}

/***************
* Header
****************/
#fond_info {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
}

#home {
    #avatar {
        height: 220px;
        margin-top: 50px;
        border: 7px solid rgba(255, 255, 255, 0.46);

        @media (max-width: $breakpoint-small) {
            height: 180px;
            margin-top: 0px;
        }
    }

    h2, h4 {
        text-align: center;
        font-weight: 400;
        color: #fafafa;
    }

    h2 {
        font-family: 'Pacifico', cursive;
    }

    h4 {
        font-family: 'Ubuntu', sans-serif;
    }
}

.collapsible-header {
    line-height: 4rem !important;

    img {
        width: 5rem;
        font-size: 1.6rem;
        line-height: 3rem;
        display: block;
        float: left;
        text-align: center;
    }
}

.dropdown_navbar li {
    a {
        color: $navcolor !important;
    }
    a:hover {
        color: $navcolor !important;
    }
}

.fixNavigation{
    z-index: 9999;
    position: fixed;
    top: 0;
}

nav {
    border-bottom: 1px rgba(128, 128, 128, 0.36) solid !important;

    a {
        color: $navcolor !important;
    }
}
/***************
* Partie A propos
****************/
.about-text {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

/***************
* Partie Compétences
****************/
.title-progress {
    font-weight: 300;
}

.progress {
    background-color: #E9E7E7 !important;
    height: 20px !important;
}

.percentage {
    color: white;
    margin-left: 45%;
    font-size: 15px;
    font-weight: bolder;
}

.skills {
    opacity: 1;
}
/***************
* Partie Projet
****************/
.image-projet {
    height: 230px !important;
}

.link-projet {
    color: #01579b !important;
}

.projet-description {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}
/***************
* Partie Contact
****************/
.icon_contact {
    font-size: 3rem !important;
}

.g-recaptcha{
    width: 100% !important;
    text-align: -webkit-center !important;
    text-align: -moz-center !important;
}

#btn_facebook {
    background-color: #385899 !important;
}

#btn_gplus {
    background-color: #D44633 !important;
}

#btn_twitter {
    background-color: #3E9AFF !important;
}

#btn_linkedin {
    background-color: #007CB7 !important;
}

#btn_github {
    background-color: #303030 !important;
}

#gmap {
    height:340px;
    border-radius: 5px;
}

.infos {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

/***************
* Footer
****************/
#btn_home {

    bottom: 45px !important;
    right: 50px !important;

    @media (max-width: $breakpoint-small) {
        display: none !important;
    }
}

footer {
    padding-top: 0px !important;
    margin-top: 0px !important;

    div {
        color: $navcolor !important;
    }
}
